VITE_BASE_URL=http://127.0.0.1:3000/api/
VITE_GEOCODE_APIKEY=AlzaSyCqrOqWL1ZJ6-MflhkbTC8UbaLcQJVekGo
VITE_GEOCODE_LANGUAGE=en
VITE_GEOCODE_REGION=vietnam
VITE_GEOCODE_LOCATIONTYPE=
VITE_GOOGLEMAP_KEY=AlzaSyCqrOqWL1ZJ6-MflhkbTC8UbaLcQJVekGo