VITE_BASE_URL=http://localhost:3000/api/
VITE_GEOCODE_REGION=vietnam
VITE_GEOCODE_APIKEY=AIzaSyCqrOqWL1ZJ6-MflhkbTC8UbaLcQJVekGo
VITE_GEOCODE_LOCATIONTYPE=ROOFTOP
VITE_GEOCODE_LANGUAGE=en
VITE_GOOGLEMAP_KEY=AIzaSyCqrOqWL1ZJ6-MflhkbTC8UbaLcQJVekGo
ACCESS_TOKEN_LocalStorage=access_token

