PORT=3000
DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=12345678
DB_NAME=lacatrip2
DB_PORT=3306
NODE_DOCKER_PORT=8080
DB_CONNECTION=mysql
CLIENT_ORIGIN=http://127.0.0.1:8081
EMAIL_NAME=nguyenthanhtoan2211@gmail.com
EMAIL_APP_PASSWORD=tojxmbicsmckhrap
NODE_ENV=development
IMAGE_API_KEY=326598621733316
IMAGE_API_SECRET=4AWikNZ0CTTgj0MSYh1gm0ThEls
IMAGE_CLOUD_NAME=djgkj9nli
JWTSECRETKEY=TOAN123
NODE_VERSION=18.15.0
REACT_API=https://lacatrip.onrender.com