PORT=3000
DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=12345678
DB_NAME=lacatrip
DB_PORT=3306
# DB_HOST=db-lacatrip-do-user-12983836-0.b.db.ondigitalocean.com
# DB_USER=doadmin
# DB_PASSWORD=AVNS_CSJhGdrVveyD2Nmc2eM
# DB_NAME=lacatrip
# DB_PORT=25060
NODE_DOCKER_PORT=8080
DB_CONNECTION=mysql
CLIENT_ORIGIN=http://127.0.0.1:8081
JWTSECRETKEY=TOAN123
EMAIL_NAME=nguyenthanhtoan2211@gmail.com
EMAIL_APP_PASSWORD=tojxmbicsmckhrap
NODE_API=http://127.0.0.1:3000
REACT_API=http://localhost:5173
IMAGE_CLOUD_NAME=djgkj9nli
IMAGE_API_KEY=326598621733316
IMAGE_API_SECRET=4AWikNZ0CTTgj0MSYh1gm0ThEls
NODE_ENV=production
